.categories-container {
  height: 100%;
  margin-top: 4rem;
  text-align: center;
}

.categories-container span {
  font-size: 10rem;
  color: #555;
}

.categories-container span span{
  color: #0290ff;
}

.categories-container h1 {
  font-size: 2rem;
}
