.book-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #bbb;
  padding: 3rem;
}

.book-container span {
  font-size: 1rem;
}

.block-l {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.block-l .info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.block-r {
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.stats {
  display: flex;
  gap: 1rem;
}

.progress-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress-text .stat-number {
  font-size: 3.4rem;
}

.progress-text .stat-text {
  font-size: 1.4rem;
}

.progress-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
